INSTANCE_NAME=runningorder-ios
APP_STORE_CONNECT_API_KEY_ID=
APP_STORE_CONNECT_ISSUER_ID=
APP_STORE_CONNECT_API_KEY_CONTENT=
APP_BUNDLE_ID=com.deepdesai.runningorder
APP_NAME=Running Order
GITHUB_REPO_OWNER=desai-deep
GITHUB_REPO_NAME=runningorder-ios
GITHUB_REPO=desai-deep/runningorder-ios
XCODE_WORKFLOW_ID=C4885BE9-A4F2-40B8-A860-89463FE377EF
IOS_REPO_PATH=
PRODUCTION_BRANCH=main
BETA_BRANCH=develop
EXPIRE_MERGED_BUILDS=true
